[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CirclesIntersections"]
	path = CirclesIntersections
	url = https://github.com/hugosal/circlesintersections
[submodule "ecolTest"]
	path = ecolTest
	url = https://github.com/hugosal/ecoltest
